<!DOCTYPE html>
<html>
    <head>
        <title> <%=shopname%> </title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <%- include("header") %>
        <h1> <u> Survey </u> </h1>
        <form method="POST" action="/surveyed">
            <p> First Name: </p> <input id="first" type="text" name="first" required>
        <br><br>
            <p> Last Name: </p> <input id="last" type="text" name="last" required>
        <br><br>
            <p> Email: </p> <input id="email" type="email" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
        <br><br>
           <p> How old are you?: </p> <input id="age" type="number" name="age" min="1" max="100" required>
        <br><br>
            <p> Which of the following drinks do you consume?: </p>
            <% for(let i = 0; i < productCatergories.length; i++) { %>
                <input type="radio" id="drink <%= i %>" name="consume" value="<%= productCatergories[i] %>" required>
                <label for="drink <%= i %>"> <%= productCatergories[i] %> </label>
             <% } %>
        <br><br>
            <p> Are you a student?: </p> <input id="student" type="checkbox" name="student" value="Yes" value="No">
        <br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>